In [1]:
print('Hello world')

Hello world

In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.DataFrame({
    'School lesson': ['English language', 'Mathematics', 'Physics', 'Biology', 'Chemistry'],
    'First quarter':[4,2,5,4,3],
    'Second quarter':[5,5,3,4,5],
    'Third quarter':[3,4,5,5,4]
})
data

      School lesson  First quarter  Second quarter  Third quarter
0  English language              4               5              3
1       Mathematics              2               5              4
2           Physics              5               3              5
3           Biology              4               4              5
4         Chemistry              3               5              4

In [3]:
data.head(2)

      School lesson  First quarter  Second quarter  Third quarter
0  English language              4               5              3
1       Mathematics              2               5              4

In [4]:
data.tail(2)

  School lesson  First quarter  Second quarter  Third quarter
2       Physics              5               3              5
3       Biology              4               4              5

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data.index

RangeIndex(start=0, stop=5, step=1)